# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# analysis files
analysis/2017-01-11/*.txt
analysis/2017-02-13/*.txt
analysis/2017-02-23/*.txt
analysis/2017-01-11/*.txt
analysis/2017-12-20/*.txt
analysis/2016-12-28/*.txt
analysis/2016-12-22/*.txt
analysis/2016-12-16/*.txt
analysis/2017-12-12/*.txt
analysis/2017-12-01/*.txt
analysis/2017-11-23/*.txt
analysis/2016-11-16-2/*.txt





# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# data files
*.pdf
*.png
*.gmt
*.m2
*.tsv
*.csv

#folders
hidefromgit

